{% extends "template_site.html" %}
{% block content %}
<body onload="iniciar();">

	<h1>
	  <div id="cadastro">
	  Manutencao de Grupo de Produtos
	  </div>
	</h1>

	<hr>
	<div id="divform">

	  <form action="" method="POST" name="cadastrar">
	    <table>
	      <tr>
	        <td width="100" class="td1">Descricao</td>
	        <td><input type="text" name="descricao" class="form-control" style="margin: 0px 0px 10px; width: 400px;  text-transform: uppercase" maxlength="100"></td>
	      </tr>
	      <tr>
	        <td class="td1">Ativo</td>
	        <td>
				<div class="form-group">
				  <!--<label for="sel1">Selecione: </label>-->
				  <select class="form-control" id="ativo" style="width: 100px;"">
				    <option value="S" selected >Sim</option>
				    <option value="N">Nao</option>
				  </select>
				</div>	        
	        </td>
	      </tr>    
	      <tr>
	        <td class="td1">Txt Adicional</td>
	        <td>
	          <textarea class="form-control" rows="3"  name="texto" maxlength="500" style="margin: 0px 0px 10px; width: 629px; height: 61px;" class="form-control" maxlength="500"></textarea>
	        </td>
	      </tr>
	      <tr>
	        <td class="td1">Usu.Inclusao</td>
	        <td><input type="text" name="url" style="margin: 0px 0px 10px; width: 300px;"  class="form-control" maxlength="100" disabled></td>
	      </tr>    
	      <tr>
	        <td class="td1">Data Inclusao</td>
	        <td><input type="text" name="url" style="margin: 0px 0px 10px; width: 200px;"  class="form-control" maxlength="100" disabled></td>
	      </tr>    
	      <tr>
	        <td class="td1">Usu.Alteracao</td>
	        <td><input type="text" name="url" style="margin: 0px 0px 10px; width: 300px;"  class="form-control" maxlength="100" disabled></td>
	      </tr>    
	      <tr>
	        <td class="td1">Data Alteracao</td>
	        <td><input type="text" name="url" style="margin: 0px 0px 10px; width: 200px;"  class="form-control" maxlength="100" disabled></td>
	      </tr>    
	    </table>
	    <hr>
	    
	    <!--<input type="submit" value="Salvar">-->
	    <a class="btn btn-success btn-outline" onclick="validar()">Salvar</a>
	  </form>
	</div>
</body>
<script type="text/javascript">
  
  function iniciar(){
      document.cadastrar.descricao.focus();
    }
  function validar(){  	
  	document.getElementById("cadastrar").submit();
  	iniciar();
  }  
</script>
{% endblock %}