<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" type="text/css" href="../static/dist/css/bootstrap.min.css">     
    <link rel="stylesheet" type="text/css" href="../static/dist/css/trevisolli.css" >
    <link rel="stylesheet" type="text/css" href="../static/dist/css/paging.css" rel="stylesheet">

    <script src="../static/dist/js/jquery.min.js"></script>
    <script src="../static/dist/js/bootstrap.min.js"></script> 
    <script src="../static/dist/js/trevisolli.js"></script>
    <script type="text/javascript" src="/static/dist/js/paging.js"></script>
    
    
    <style>
      .esquerda{
         text-align: right;
         width: 100%;
      }

      a:link, a:visited { 
        text-decoration: none
      }
      
      a:hover {
        text-decoration: underline; 
        color: #f00
      }
      
      a:active {
        text-decoration: none
        }


    </style>

    <script>
      function sair(usuario){
        window.location.href='/logout/';      
      }

    </script> 
    <title>{% block title %}{% endblock %}</title>
    
    <nav class="navbar navbar-default" > <!-- navbar-fixed-top -->
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{url_for('index')}}"><strong>TKB - Gerenciamento</strong></a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="{{url_for('index')}}">Home</a></li>

          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Usuários <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <!-- Somente administrador cadastra usuario/login -->
              {% if session['isadm'] == "S"  %}
                <li><a href="{{url_for('cadastro_usuario')}}">Cadastro</a></li>
              {% endif %}
              <li><a href="{{url_for('manutencao_usuario')}}">Manutenção de Logins</a></li>
            </ul>
          
          </li>

          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Lista<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{url_for('cadastrar')}}">Cadastro</a></li>
              <li><a href="{{url_for('alterar')}}">Manutenção</a></li>
              <li><a href="{{url_for('listar_url')}}">Links Úteis</a></li>
            </ul>
          </li>

          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><strong>Gerencial</strong><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{url_for('grafico_sistema')}}">Resumo Sistema</a></li>
            </ul>
          </li>
          <li><a href="#">Sobre</a></li>

        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li id="divpesquisa" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" ><strong>Olá [ {{ session['username'] }} ] </strong> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#" onclick="sair();" style="cursor: pointer;"> Sair</a></li>
              </ul>
          </li>
        </ul>
      </div>
    </nav>    
    {% endblock %}
  </head>
  <body>    
    <!-- Conteúdo do Template -->
    <div id="content">
      {% block content %}
      <p>Teste</p>
      {% endblock %}
    </div>
    <!-- Rodapé do Template -->
    <div id="footer">
      {% block footer %}
      <br>
      &copy; Copyright 2016 by <a href="mailto:paulo.trevisolli@gmail.com">Paulo Trevisolli</a>.
      {% endblock %}
    </div>
  </body>
</html>